@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* pallete: https://colors.muz.li/palette/5557a3/3b4a72/e0e9ff/c2d2ff/ffffff */

@layer base {
	:root {
		--btn-bg: #5557a3;
		--bold-text: #3b4a72;
		--body-bg: #c2d2ff;
	}

	html {
		font-size: 62.5%;
		font-family: 'Roboto Mono', monospace;
	}
}

@layer components {
	.default-label {
		@apply mb-[1.5rem] flex flex-col gap-[0.5rem] text-[--bold-text] text-[1.2rem];
	}

	.default-input {
		@apply p-[1rem] w-full border border-solid border-[#999] rounded-[0.5rem] font-['Roboto'] text-[1.6rem] text-[--bold-text] outline-0;
	}

	.default-btn {
		@apply mt-[3rem] px-[3rem] py-[1rem] bg-[--btn-bg] border-0 rounded-[0.5rem] opacity-100 transition-opacity duration-300 hover:opacity-90 font-['Roboto'] text-white text-[1.4rem] font-bold uppercase;
	}
}
